.language-select {
    /*text-align: center;*/
    max-width: 90px;
    /*float: left;*/
}

.layer1-index-back {
    background: url(../images/index/index_bg.png) no-repeat center 0px;
    background-size: contain;
}

@media only screen and (max-width: 1200px) {
    .index-img {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .index-img {
        margin-top: 80px;
    }
}

.layer1-back {
    background-image: url("http://cdn.wustlz.com/images/shan.png");
    background-size: cover;
}

.clothing_video {
    width: 98%;
    height: 98%;
    object-fit: fill;
    margin-top: 10%;
}

.blog-box {
    text-align: left;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    background-color: #f0e5de !important;
}

@media only screen and (max-width: 991px) {
    .blog-box {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .blog-box {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 991px) {
    .dynasty-detail {
        margin: 0 12.5% !important;
    }

    .detail-content {
        display: inline-block;
        padding-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }
}

.detail-content > h3 {
    line-height: 25px;
}

.detail-content > p {
    text-align: left;
}

.blog-box > .row {
}

.pic_source {
    color: gray;
}

.detail-name {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 620px) {
    .detail-name {
        margin-left: 18px;
        padding-top: 10px;
    }
}

.name-pinyin {
    text-align: center;
    font-size: 28px;
}

.name-chinese {
    text-align: center;
    font-size: 56px;
}

.name-form-text {
    padding: 10px 10px 10px;
    text-align: right;
}

@media only screen and (min-width: 590px) {
    .name-form-text {
        font-size: 18px;
    }

    .name-gender-radio > label {
        margin-left: 10px;
        font-size: 16px;
    }
}

.name-form-input {
    margin-left: -10px;
}

.name-gender-radio {
    display: inline;
}

.name-gender-radio > label {
    padding-top: 10px;
}

#name-birthday > input {
    font-size: 18px !important;
}

.name-content > p {
    clear: both;
    padding: 0;
    margin: 0;
}

.name-circle-text {
    float: none;
    font-size: 48px;
    vertical-align: middle;
}

.name-zodiac {
    width: 100%;
}

#name-slave-height-0 > p > span {
    font-size: 20px;
    font-weight: bolder;
}

.zodiac-box {
    /*height: 250px;*/
    text-align: center;
}

.zodiac-box > p > span {
    font-weight: bolder;
}

.zodiac-img {
    padding: 0px !important;
}

.zodiac-text {
    text-align: left;
}

.solar-text {
    text-align: center;
}

.calendar-back {
    background-color: #5caeff;
}

.calendar-year {
    border-bottom-color: #d8d8d8;
    border-right-color: #d8d8d8;
    user-select: none;
    white-space: nowrap;
}

.calendar-week {
    margin-top: 15px;
    text-align: center;
}

.calendar-table {
    border-collapse: collapse;
}

.calendar-table > tbody > tr > td,
.calendar-table > thead > tr > th {
    border-top: 1px solid #c8cacc;
    padding: 0;
}

.calendar-table > tbody > tr > td > a {
    display: block;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
}

.calendar-table > tbody > tr > td > a > span {
    color: #999999;
    font-size: 12px;
}

.calendar-table > tbody > tr > td > a * {
    cursor: pointer;
}

.calendar-table > tbody > tr > td > a > p {
    line-height: 1;
}

.calendar-table > tbody > tr > td > a:hover, .day-selected {
    padding: 3px;
    border: 3px solid #fb0;
}

.not-month, .not-month > p, .not-month > span {
    color: #999999;
}

.calendar-table > thead > tr > th {
    padding: 12px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #5af !important;
}

@media only screen and (min-width: 800px) {
    .calendar-table > thead > tr > th {
        font-size: 16px;
    }
}

.calendar-day {
    max-height: 415px;
    text-align: center;
    font-family: arial;
}

.calendar-p-1 {
    margin-top: 8px;
    color: #ffffff;
}

.calendar-p-2 {
    position: relative;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    padding: 0;
    color: #ffffff;
    line-height: 65px;
    font-size: 45px;
    background: #fb0;
    border-radius: 3px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1), -1px 2px 5px rgba(0, 0, 0, 0.1);
}

.calendar-p-3 {
    margin-top: 5px;
    color: #ffffff;
}

.calendar-p-3 > span {
    display: block;
    font-size: 14px;
}

.calendar-yj {
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #94c9ff;
    padding-top: 8px;
    line-height: 18px;
    color: #ffffff;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}

.calendar-yj > div > p {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}

.calendar-yj > div > span {
    font-size: 13px;
}

.share-button {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 10px;
}

.novel-heading {
    margin-bottom: 55px;
}

@media only screen and (max-width: 700px) {
    .novel-heading {
        margin-bottom: 80px;
    }
}

.novel-latest-img {
    width: 100%;
    object-fit: cover;
}

.novel-box {
    padding: 15px 30px;
}

.novel-box > .row > img {
    width: 100%;
}

.btn-novel {
    color: #000000;
    background-color: #f0e5de !important;
    border-color: #FFDAB9 !important;
}

.btn-novel:hover, .btn-novel:active {
    color: #000000;
    background-color: #FFE4C4 !important;
    border-color: #FFDAB9 !important;
}

.novel-banner {
    padding-bottom: 40px;
    padding-top: 85px;
    position: relative;
    z-index: 9;
}

@media only screen and (min-width: 768px) {
    .novel-banner {
        padding-top: 90px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .novel-banner {
        padding-bottom: 40px;
        padding-top: 100px;
    }
}

@media only screen and (max-width: 767px) {
    .novel-banner {
        padding-bottom: 30px;
        padding-top: 60px;
    }
}

.novel-content {
    padding-top: 10px;
}

.novel-detail-img {
    width: 100%;
}

.novel-detail-head {
    margin-top: 30px;
}

.novel-detail-date {
    color: #999999;
    padding-right: 10px;
}

.novel-detail-hot {
    color: #ff1f30;
}

.novel-author {
    padding-left: 10px;
}

.novel-tag {
    padding-top: 15px;
}

.novel-tag > p > span {
    color: #999999;
}

.divider {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.novel-detail-pre-next {
    padding-top: 15px;
}

.novel-detail-pre-text {
    color: #999999;
}

