.language-select {
    /*text-align: center;*/
    max-width: 90px;
    /*float: left;*/
}

.layer1-back {
    background-image: url("../images/shan.png");
    background-size: cover;
}

.clothing_video {
    width: 98%;
    height: 98%;
    object-fit: fill;
    /*margin-left: 8.33%;*/
    /*margin-right: 8.33%;*/
    margin-top: 10%;
}

.blog-box {
    text-align: left;
    margin-bottom: 30px;
    float: left;
    background-color: #f0e5de !important;
}

@media only screen and (max-width: 991px) {
    .blog-box {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .blog-box {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 991px) {
    .dynasty-detail {
        margin: 0 12.5% !important;
    }

    .detail-content {
        display: inline-block;
        padding-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }
}

.detail-content > h3 {
    line-height: 25px;
}

.detail-content > p {
    text-align: left;
}

.blog-box > .row {
}

.pic_source {
    color: gray;
}

.detail-name {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 620px) {
    .detail-name {
        margin-left: 18px;
        padding-top: 10px;
    }
}

.name-pinyin {
    text-align: center;
    font-size: 28px;
}

.name-chinese {
    text-align: center;
    font-size: 56px;
}

.name-form-text {
    padding: 10px 10px 10px;
    text-align: right;
}

@media only screen and (min-width: 590px) {
    .name-form-text {
        font-size: 18px;
    }
}

.name-form-input {
    margin-left: -10px;
}

.name-gender-radio {
    display: inline;
}

.name-gender-radio > label {
    padding-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}

#name-birthday > input {
    font-size: 18px !important;
}

.name-circle-text {
    float: none;
    font-size: 48px;
    vertical-align: middle;
}
